.card {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

.container {
    background-color: #f2f3f5;

    .body {
        display: flex;

        .controls {
            width: 100px;
            margin-right: 10px;
        }

        .main {
            flex: 1;
            min-width: 320px;
            background-color: #f2f3f5;

            .article {
                border-radius: 5px;
                overflow: hidden;
                padding: 0 20px;
                background-color: white;

                .detail {
                    align-items: center;

                    * {
                        color: #8a919f;
                    }

                    *:nth-child(n+2) {
                        margin-left: 15px;
                    }

                    a:hover {
                        color: black;
                    }
                }
            }

            .comment {}
        }

        .help {
            width: 300px;
            margin-left: 20px;

            .aboutAuth {
                @extend .card;
            }

            .catalogue {
                @extend .card;
            }

            .recommend {
                @extend .card;
            }
        }
    }
}