.container {
    .main {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;


        .center {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            width: 1000px;

            .card {
                // &:nth-child(n+2) {}
            }
        }
    }
}