.card {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

.container {
    background-color: #f2f3f5;
    display: flex;
    flex-direction: column;
    align-items: center;


    .body {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1290px;
        min-width: 500px;
        border: 1px solid red;
        margin-top: 20px;



        .controls {
            width: 80px;
            margin-right: 10px;
        }

        .main {
            flex: 1;
            min-width: 320px;
            background-color: #f2f3f5;
            color: #252933;

            .article {
                border-radius: 5px;
                overflow: hidden;
                padding: 30px;
                background-color: white;

                .title {
                    margin: 0px 0px 10px;
                }

                .detail {
                    align-items: center;
                    margin: 0px 0px 10px;

                    * {
                        color: #8a919f;
                        font-size: 14px !important;
                    }

                    *:nth-child(n+2) {
                        margin-left: 15px;
                    }

                    a:hover {
                        color: black;
                    }
                }

                .text {
                    // color: red;
                    text-indent: 2em;
                    letter-spacing: 0.08em;
                    line-height: 1.6;
                    margin-top: 40px;

                    p {
                        // color: red;
                        margin: 10px 0px;
                    }

                    h1 {
                        margin: 25px 0;
                    }

                    h2 {
                        margin: 20px 0px;
                    }

                    h3 {
                        margin: 15px 0px;
                    }

                    h4 {
                        margin: 10px 0px;
                    }

                    img {
                        margin: 0 auto;
                        display: block;
                        margin: 16px 0;
                    }
                }
            }

            .comment {}
        }

        .help {
            width: 300px;
            margin-left: 20px;

            .aboutAuth {
                @extend .card;

                .header {
                    display: flex;

                    .left>img {
                        width: 40px;
                        height: 40px;
                        border-radius: 20px;
                    }

                    .right {
                        margin-left: 10px;

                        h3 {
                            font-size: 18px
                        }

                        p {
                            font-size: 14px;
                            color: #8a919f;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }

                .center {
                    display: flex;
                    justify-content: space-evenly;
                    margin-top: 15px;

                    &>div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        &>span:nth-of-type(1) {
                            font-size: 16px;
                        }

                        &>span:nth-of-type(2) {
                            font-size: 14px;
                            color: #8a919f;
                        }
                    }
                }
            }

            .catalogue {
                @extend .card;
            }

            .recommend {
                @extend .card;
            }
        }
    }
}