$success-text-color: #52c41a;
$warning-text-color: #faad14;
$error-text-color: #ff4d4f;

$success-background-color: #f6ffed;
$warning-background-color: #fffbe6;
$error-background-color: #fff2f0;

$success-border-color: #b7eb8f;
$warning-border-color: #ffe58f;
$error-border-color: #ffccc7;